/* Write your code here. */

.bg-container {
  background-image: linear-gradient(to bottom, #9796f0, #fbc7d4);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.navbar-container {
  background-color: #ffffff33;
  min-height: 80px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.emoji-card-main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.emoji-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-left: 0px;
  width: 95%;
}

@media screen and (min-width: 768px) {
  .emoji-list-container {
    width: 70%;
  }
}
